body {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #333;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

div.parent {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: 60vw;
}

// div.parent div {
// }

input {
  padding: 5px 10px;
  width: auto;
  font-size: 16px;
}

input::placeholder {
  font-size: 16px;
}

select {
  padding: 5px 10px;
  width: auto;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}
 ul {
  list-style-type: none;
  padding: 0!important;
 }

button {
  padding: 5px 20px;
  margin: 10px auto;
  background-color: white;
  border: 1px solid #333;
  font-size: 16px;
  margin-left: 20px;
}

button[type="submit"] {
  border: none;
  color: white;
  background-color: #02012e;
}

#result {
  margin: 10px auto;
  padding: 10px 60px;
}

#result:empty {
  display: none;
}
